<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Insert data:</h3>
<form action="#" th:action="@{/deals/add}" th:object="${deal}" method="post">
    <label for="surname">Surname:</label>
        <input type="text" id="surname" th:field="*{card.surname}" /><br>
    <label for="ovr">Overall:</label>
        <input type="number" id="ovr" th:field="*{card.overall}" /><br>
    <label for="type">Type:</label>
        <select id="type" th:field="*{card.cardType}">
        <option value="" hidden>Select a role</option>
        <option th:each="type: ${T(com.example.fifaprofitapp.domain.CardType).values()}"
                th:value="${type}" th:text="${type}"></option>
       </select><br>
    <label for="bp">Buying price:</label>
        <input type="number" id="bp" th:field="*{buyingPrice}" /><br>
    <label for="sp">Selling price:</label>
        <input type="number" id="sp" th:field="*{sellingPrice}" /><br>

    <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
</form>


<h1> Deals List </h1>
<table>
    <tr>
        <td>ID</td>
        <td>Player Name</td>
        <td>Version</td>
        <td>Buying Price</td>
        <td>Selling Price</td>
        <td>Sale Date</td>
        <td>Profit</td>
    </tr>
    <tr th:each="deal : ${deals}">
        <td th:text="${deal.id}"></td>
        <td th:text="${deal.card.surname}"></td>
        <td th:text="${deal.card.cardType}"></td>
        <td th:text="${deal.buyingPrice}"></td>
        <td th:text="${deal.sellingPrice}"></td>
        <td th:text="${deal.saleDate}"></td>
        <td th:text="${deal.profit}"></td>
    </tr>
</table>


</body>
</html>